.header {
    background: yellowgreen;
    padding: 20px calc(50% - 500px) 10px;
}

.header__title {
    color: black;
    font-family:Georgia, 'Times New Roman', Times, serif; 
    margin-left: 40px;
    font-size: 50px;
   
}